.blockList {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-top: var(--space-sm);
}

.componentBlock {
  position: relative;
  align-self: stretch;
  padding: 0 0 var(--space-xl);
}
